{{ $src := .Get "src" }}
{{ $caption := .Get "caption" }}
{{ $dir := strings.TrimPrefix "posts/" .Page.File.Dir }}
{{ $dark  := resources.Get (printf "diagrams/%s%s-dark.svg"  $dir $src) }}
{{ $light := resources.Get (printf "diagrams/%s%s-light.svg" $dir $src) }}
<figure class="diagram">
  {{ with $dark }}
  <div class="diagram-inner diagram-dark">{{ .Content | safeHTML }}</div>
  {{ end }}
  {{ with $light }}
  <div class="diagram-inner diagram-light">{{ .Content | safeHTML }}</div>
  {{ end }}
  {{ with $caption }}
  <figcaption class="diagram-caption">{{ . }}</figcaption>
  {{ end }}
</figure>
